body{
    position: relative;
}

#root{
    position: relative;
}

.main{
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('./assets/images/background/173875.jpg') no-repeat;
    background-position: fixed;
    margin: 0 6rem;
}