/* // =============== Card normal ============================== */
.cardContainer{
    display:flex;
    flex-direction: column;
    position: relative;
    max-width: 240px;
    width: 240px;
    max-height: 23rem;
    height: 23rem;
    transition: transform 0.4s ease;
}

.cardContainer:hover > .addOrRemoveLayout{
    display: flex;
}

.singleCardContainer{
    position: relative;
    width: 100%;
    height: 100%;
}

.singleCardContainer > .cardQuantity{
    position: absolute;
    top: 2rem;
    left: .8rem;
    padding: .5rem;
    background-color: rgba(0,0,0,.5);

    font-weight: bold;
    color: white;
    text-shadow: 1px 0 10px rgba(0,0,0,1);
}

.singleCardContainer > img{
    max-width: 215px;
    width: 215px;
}

.doubleCardsContainer{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.doubleCardsContainer > img{
    position: absolute;
    width: 100%;
    max-width: 215px;
    width: 215px;
}

.doubleCardsContainer > img:first-of-type{
    z-index: 2;
    max-width: 215px;
    width: 215px;
}

.doubleCardsContainer > img:last-of-type {
    z-index: 1;
    max-width: 215px;
    width: 215px;
}

.doubleCardsContainer:hover > img:last-of-type{
    z-index: 3;
}

.addOrRemoveLayout{
    z-index: 4;
    display: none;
    position: absolute;
    max-width: 215px;
    width: 215px;
    top: 50%;
    justify-content: center;
}


/* // =============== Card in deck list ============================== */


.cardContainerClassed{
    composes: cardContainer;
    position: absolute;
}

.cardContainerClassed:hover ~ .cardContainerClassed{
    transform: translateY(15rem);
}

.cardClassed{
    position:absolute;
}