/* // =============== Card normal ============================== */
.singleCardContainer{
    display:flex;
    flex-direction: column;
    position: relative;
    transition: transform 0.4s ease;
    position: relative;
    width: 100%;
}

.singleCardContainer > .cardQuantity{
    position: absolute;
    top: 2rem;
    left: .8rem;
    padding: .5rem;
    background-color: rgba(0,0,0,.5);

    font-weight: bold;
    color: white;
    text-shadow: 1px 0 10px rgba(0,0,0,1);
}

.singleCardContainer > img{
    transform: scale(1);
    transition: transform 0.3s ease;
}

.singleCardContainer:hover > img{
    transform: scale(1.24);
}

.images{
    border-radius: .6rem;
}

/* // =============== Add in deck ============================== */

.addOrRemoveLayout{
    position: absolute;
    bottom: 0;
    max-width: 215px;
    width: 215px;
    display: none;
    justify-content: center;
    align-items: end;
    gap: 1rem;
}

.addOrRemoveLayout > div > button,
.addOrRemoveLayout > button{
    border: 3px solid #FFF;
    background-color: #000;
    color: #FFF;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    line-height: 1rem;
}

.singleCardContainer:hover .addOrRemoveLayout{
    display: flex;
}

.btnAddCard {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.btnAddCard > ul {
    position: absolute;
    top: -4rem;
    padding: 0;
}

.btnAddCard > ul > li{
    list-style: none;
    margin: 0;
}

.btnAddCard > ul > li > button{
    width: 100%;
}

/* // =============== Card in deck list ============================== */


.cardContainerClassed{
    composes: singleCardContainer;
    position: absolute;
}

.cardContainerClassed:hover ~ .cardContainerClassed{
    transform: translateY(17rem);
}

.cardClassed{
    position:absolute;
}

/* // =============== Card in list deck ============================== */
.cardContainerListed{
    position: relative;
    
}

.cardContainerListed > div{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #00160B;
    border: 1px solid #898989;
    padding-left: 3rem;
    padding-right: 1rem;
    margin: 1rem 0;
}

.cardContainerListed > div > span:first-of-type{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #FFF;
    color: #000;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    font-weight: 700;
}

.cardContainerListed > div > span:nth-child(2){
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 60%;
}

.cardContainerListed:hover > img{
    display: inline;
}

.cardContainerListed > img{
    display: none;
    position: absolute;
    top: 0;
    left: -350px;
    width: 350px;
}

.cardContainerListed > div > .addOrRemoveLayoutList{
    display: none;
    height: 40px;
}

.cardContainerListed:hover > div > .addOrRemoveLayoutList{
    display: block;
}

.show {
    animation: sideBarTranslationLeft 500ms ease both;
}

.hidden {
    animation: sideBarTranslationRigth 500ms ease both;
}

@keyframes sideBarTranslationRigth {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(379px);
    }
}

@keyframes sideBarTranslationLeft {
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0);
    }
}