/* // =============== Card normal ============================== */
.singleCardContainer{
    display:flex;
    flex-direction: column;
    position: relative;
    transition: transform 0.4s ease;
    position: relative;
    width: 100%;
}

.singleCardContainer > .cardQuantity{
    position: absolute;
    top: 2rem;
    left: .8rem;
    padding: .5rem;
    background-color: rgba(0,0,0,.5);

    font-weight: bold;
    color: white;
    text-shadow: 1px 0 10px rgba(0,0,0,1);
}

.singleCardContainer > img{
    max-width: 215px;
    width: 215px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.singleCardContainer:hover > img{
    transform: scale(1.24);
}

/* // =============== Add in deck ============================== */

.addOrRemoveLayout{
    position: absolute;
    bottom: 0;
    max-width: 215px;
    width: 215px;
    display: none;
    justify-content: center;
    align-items: end;
    gap: 1rem;
}

.addOrRemoveLayout > button{
    border: 3px solid #FFF;
    background-color: #000;
    color: #FFF;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    line-height: 1rem;
}

.singleCardContainer:hover .addOrRemoveLayout{
    display: flex;
}

/* // =============== Card in deck list ============================== */


.cardContainerClassed{
    composes: singleCardContainer;
    position: absolute;
}

.cardContainerClassed:hover ~ .cardContainerClassed{
    transform: translateY(17rem);
}

.cardClassed{
    position:absolute;
}

/* // =============== Card in list deck ============================== */
.cardContainerListed{
    position: relative;
    
}
.cardContainerListed:hover > img{
    display: inline;
}
.cardContainerListed > img{
    display: none;
    position: absolute;
    left: -379px;
}