.carrouselContainer{
    overflow-x: scroll;
    overflow-y: auto;
    background-color: #000;
    border-radius: 1rem;
    margin-top: 2rem;
}

.ligneContainer{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}