.sidebarContainer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.sidebarContainer .mainContainer {
    background: #000;
    color: #FFF;
    height: 100%;
    width: 379px;
}

.cardsContainer {
    padding: 1em;
}

.cardsContainer > h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardsContainer > h3 > span {
    font-size: 12px;
    color: #8c8c8c;
}

.open {
    animation: sideBarTranslationLeft 500ms ease both;
}

.close {
    animation: sideBarTranslationRigth 500ms ease both;
}

@keyframes sideBarTranslationRigth {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(379px);
    }
}

@keyframes sideBarTranslationLeft {
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0);
    }
}