.btn{
    cursor: pointer;
    &__close{
        border: none;
        background-color: transparent;
    }
    &__mana{
        background-color: transparent;
        border: none;
        > svg{
            width: 100%;
            height: 100%;
        }
    }
}