.btn{
    cursor: pointer;
    &__close{
        border: none;
        background-color: transparent;
    }
    &__mana{
        background-color: transparent;
        border: none;
        > svg{
            width: 1rem;
            height: 1rem;
        }
    }
}