.carrousel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
    position: relative;
    border: 1px solid black;
    &__arrow{
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 2rem;
        top: 0;
        &--right{
            right: 0;
        }
        &--left{
            left: 0;
        }
    }
}