.card{
    border-radius: 1rem;
    overflow: hidden;
    > img{
        width: 100%;
        border-radius: 1rem;
        overflow: hidden;
    }

    &__doubleFaces{
        position: relative;
        > img{
            width: 18rem;
            height: 26rem;
            position: absolute;
            border-radius: 1rem;
            overflow: hidden;
        }
        > img:first-of-type{
            z-index: 3;
            bottom: 0;
            left: 0;
        }
        > img:nth-child(2){
            z-index: 2;
            top: 0;
            right: 0;
            &:hover{
                z-index: 6;
            }
        }
    }
}